.resources {
  float: left;
  clear: left;
}

.resources ul {
  list-style: none;
}

li {
  display: block;
}

.resources-main {
  margin-top: 10%;
}

.resources-main li {
  margin-left: -10%;
}

.well .welcome1 {
  text-align: center;
  float: left;

}

.well .welcome2 {
  float: right;
}

div.well.well-lg {
  height: %;
}

.portals {
  font-weight: bold;
}

.welcome2 ul {
  float: right;
  list-style-type:  !important;;
}

.alpine {
  float: left;
  padding-right: 5%;
}
